.summary-card {
  padding: 1em 0em 1em 0em;
}

.chip {
  color: white;
  padding: 0.55em;
  border-radius: 0.938em;
  text-align: center;
}

.title {
  font-size: x-large;
}

.subtitle {
  font-size: medium;
}

.player-card {
  min-height: 32.5vh;
  width: 28.5vw;
  min-width: 20em;
}
