<mat-card class="card" (click)="setCurrentPlayer()">
  <mat-card-header [style.backgroundColor]="primaryColor">
    <div mat-card-avatar class="header-image" [style.backgroundImage]="'url(' + player.photoUrl + ')'"></div>
    <mat-card-title [style.color]="secondaryColor">
      {{ player.name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="row" fxLayoutAlign="end center" style="padding-top: .250em;">
      <mat-chip-list>
        <mat-chip selected [style.backgroundColor]="color" matTooltip="Position">
          {{ player.position }}
        </mat-chip>
        <mat-chip selected color="primary"  *ngIf="isTargeted" matTooltip="Target Round">
          <mat-icon>my_location</mat-icon> RND: {{ targetRound }}
        </mat-chip>
        <mat-chip selected [color]="player.status === 'Active' ? 'accent' : 'warn'" matTooltip="Status">
          {{ player.status }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="card-padding" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxFlex="25%">
        <span style="font-weight: bold;">ADP:</span> {{ player.averageDraftPosition | number : '1.1-2' }}
      </div>
      <div fxFlex="25%">
        <span style="font-weight: bold;">HGT:</span> {{ player.height }}
      </div>
      <div fxFlex="25%">
        <span style="font-weight: bold;">WGT:</span> {{ player.weight }}
      </div>
      <div fxFlex="25%">
        <span style="font-weight: bold;">AGE:</span> {{ age }}
      </div>
    </div>

    <mat-accordion class="headers-align">
      <mat-expansion-panel (opened)="updatePanel1State()" (closed)="updatePanel1State()">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <span style="margin-right: .250em;">
                Projected Points:
              </span>
              <span *ngIf="scoringType === scoringTypes[0]">
                {{ player.projection?.totalPoints | number : '1.1-2' }}
              </span>
              <span *ngIf="scoringType === scoringTypes[1]">
                {{ player.projection?.halfPPRTotalPoints | number : '1.1-2' }}
              </span>
              <span *ngIf="scoringType === scoringTypes[2]">
                {{ player.projection?.pprTotalPoints | number : '1.1-2' }}
              </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-projection-table class="card-padding" [dataInput]="player.projection"></app-projection-table>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="updatePanel2State()" (closed)="updatePanel2State()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ player.team.fullName }} Info
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-team-info [dataInput]="player.team"></app-team-info>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-stroked-button color="accent" (click)="openAddTargetDialog(player)">
        Add Target <mat-icon>my_location</mat-icon>
      </button>
      <button mat-stroked-button color="accent" (click)="openCreateNoteDialog(player)">
        Create Note <mat-icon>note_add</mat-icon>
      </button>
      <button mat-stroked-button color="accent">
        Draft <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
