.sidenavLeft {
  height: 100%;
  width: 5%;
}

.sidenavRight {
  height: 100%;
  width: 25%;
}

.container {
  height: 87.25%;
  width: 100%;
}

.nav-container {
  text-align: center;
}

.nav-button-container {
  padding: .5em;
}
