.container {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .sidenav {
    height: 100%;
    width: 50%;
  }

  .sidenav-right {
    height: 100%;
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  .sidenav {
    height: 100%;
    width: 25%;
  }

  .sidenav-right {
    height: 100%;
    width: 25%;
  }
}
.orange {
  background-color: #ffab40;
  width: 100%;
}
