<mat-toolbar>
  <button mat-button color="accent" (click)="_navigate.navigate('dashboard')">
    <h2>{{ title }}</h2>
  </button>
  <span class="spacer"></span>
  <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5%">
    <span fxFlex="50%">
      <button mat-flat-button color="accent" (click)="openLoginDialog()" *ngIf="!user">Sign In</button>
    </span>
    <span fxFlex="50%">
      <button mat-flat-button color="accent" (click)="openRegisterDialog()" *ngIf="!user">Sign Up</button>
    </span>
  </span>
  <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5%" *ngIf="user">
    <span fxFlex="80%">
      <app-searchbar></app-searchbar>
    </span>
    <span fxFlex="20%">
      <button mat-icon-button class="icon" color="accent" [matMenuTriggerFor]="menu"
        aria-label="Account Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </span>
  </span>
</mat-toolbar>
