@import "~@angular/material/theming";

@include mat-core();

$green-app-primary: mat-palette($mat-blue, A100);
$green-app-accent: mat-palette($mat-orange, A200, A100, A400);

$green-app-warn: mat-palette($mat-red);

$green-app-theme-dark: mat-light-theme(
  (
    color: (
      primary: $green-app-primary,
      accent: $green-app-accent,
      warn: $green-app-warn,
    ),
  )
);

@include angular-material-theme($green-app-theme-dark);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.form {
  text-align: center;
  margin: auto;
}

.form-group {
  text-align: center;
}

.invalid-label {
  color: red;
}

.card {
  width: 95%;
}

.header-image {
  background-size: cover;
}

.icon-chip {
  font-size: .688em !important;
  padding: .250em .500em !important;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  width: 50%;
}

.card-div {
  padding: 0.500em;
}
