@import '~@angular/material/theming';

@include mat-core();

$ds-app-primary: mat-palette($mat-green, A200, A400, A700);
$ds-app-accent: mat-palette($mat-deep-orange, A200, A400, A700);
$ds-app-warn: mat-palette($mat-red);

$ds-app-theme: mat-dark-theme($ds-app-primary, $ds-app-accent, $ds-app-warn);

@include angular-material-theme($ds-app-theme);