<div class="loading-div" *ngIf="loading">
  <loading-spinner></loading-spinner>
</div>
<div class='note-cards' *ngIf="!loading">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5%" *ngFor="let note of notes">
    <mat-card class="note-card">
      <mat-card-header>
        <div mat-card-avatar class="note-header-image" [style.backgroundImage]="'url(' + note.user.profileImage + ')'"></div>
        <mat-card-title>{{ note.title }}</mat-card-title>
        <mat-card-subtitle>{{ note.user.username }} - {{ note.creationTime | date: "MMM dd, yyyy hh:mm " }}
        </mat-card-subtitle>
        <mat-card-subtitle>{{ note.player.firstName}} {{ note.player.lastName }}
          {{ note.player.team.abbreviation }} - {{ note.player.position }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class='card-content'>{{ note.body }}</div>
        <div class='card-content'>Source: {{ note.source }}</div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxAlign="center center" fxLayoutGap="10.0%">
        <div class="action-btn" fxFlex="30%">
          <button mat-icon-button color="accent" (click)="addLike(note)">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div class="action-btn" fxFlex="30%">
          <button mat-icon-button color="primary" (click)="createShare(note)">
            <mat-icon>share</mat-icon>
          </button>
        </div>
        <div class="action-btn" fxFlex="30%">
          <button mat-icon-button color="warn" (click)="deleteNote(note)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>
