<mat-toolbar color="primary">
  <span>
    <span>
      <button mat-button class="title" (click)="goToDashboard()">
        <span class="title-content"><img class="title-logo" src='../../assets/images/shark.svg'></span>
        <span class="title-content">DraftShark</span>
      </button>
    </span>
  </span>

  <span class="fill-space"></span>

  <span>
    <span>
      <button class="nav-button" mat-button (click)="navigateToRegisterPage()" *ngIf="!isAuth">Sign Up</button>
    </span>
    <span>
      <button class="nav-button" mat-button (click)="navigateToLoginPage()" *ngIf="!isAuth">Login</button>
    </span>
  </span>
</mat-toolbar>
