<mat-toolbar color="primary">
  <span><img class="title-logo" src='../../assets/images/shark.svg'></span>
  <span class="title">Draft Shark</span>

  <span class="fill-space"></span>

  <span>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="openDialog()" *ngIf="!isAuth">Sign Up</button>
      <button mat-menu-item (click)="openDialog()" *ngIf="!isAuth">Login</button>
      <button mat-menu-item *ngIf="isAuth">Profile</button>
      <button mat-menu-item *ngIf="isAuth">Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </span>
</mat-toolbar>
