.fill-space {
  flex: 1 1 auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title-content {
  display: inline-block;
  height: 100%;
}

.title-logo {
  fill: white;
  height: 100%;
  width: 100%;
}

.menu-option {
  font-size: 18px;
  padding: 15px;
}

.middle-options {
  display: flex;
  justify-content: space-between;
  align-content: space-between
}

.span1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.span2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
}

.nav-button {
  font-size: 16px;
}

.fill-space {
  flex: 1 1 auto;
}

.home-btn {
  padding-left: 10px;
}
