<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="bold">
        Passing
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="center">
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Attempts:</span> {{ player.projection.attempts }}</span>
        <span fxFlex="30%" class="item">
          <span class="bold">Completions:</span> {{ player.projection.completions }}</span>
        <span fxFlex="30%" class="item">
          <span class="bold">Completion %:</span>
          {{ (player.projection.attempts ? divide(player.projection.completions, player.projection.attempts) : 0.0) | number: '1.3-3' }}%</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Yards:</span> {{ player.projection.passYards }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns:</span> {{ player.projection.passTd }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Interceptions:</span> {{ player.projection.interception }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Yards Per Attempt:</span>
          {{ (player.projection.attempts ? divide(player.projection.passYards, player.projection.attempts) : 0.0) | number: '1.3-3' }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns Per Attempt:</span>
          {{ (player.projection.attempts ? divide(player.projection.passTd, player.projection.attempts) : 0.0) | number: '1.3-3' }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Interceptions Per Attempt:</span>
          {{ (player.projection.attempts ? divide(player.projection.interception, player.projection.attempts) : 0.0) | number: '1.3-3' }}
        </span>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="bold">
        Rushing
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="center">
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Carries:</span> {{ player.projection.carries }}</span>
        <span fxFlex="30%" class="item">
          <span class="bold">Yards:</span> {{ player.projection.rushYards }}</span>
        <span fxFlex="30%" class="item">
          <span class="bold">Yards Per Carry:</span>
          {{ (player.projection.carries ? divide(player.projection.rushYards, player.projection.carries) : 0.0) | number: '1.3-3' }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item"></span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns:</span> {{ player.projection.rushTd }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns Per Carry:</span>
          {{ (player.projection.carries ? divide(player.projection.rushTd, player.projection.carries) : 0.0) | number: '1.3-3' }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item"></span>
        <span fxFlex="30%" class="item">
          <span class="bold">Fumbles:</span> {{ player.projection.fumbles }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Fumbles Per Carry:</span>
          {{ (player.projection.carries ? divide(player.projection.fumbles, player.projection.carries) : 0.0) | number: '1.3-3' }}
        </span>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="bold">
        Receiving
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="center">
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Targets:</span> 0
          <!-- {{ player.projection.targets }} -->
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Receptions:</span> {{ player.projection.receptions }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Receptions Per Target:</span> 0.0
          <!--  {{ (player.projection.targets ? divide(player.projection.receptions, player.projection.targets) : 0.0) | number: '1.3-3' }} -->
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Yards:</span> {{ player.projection.receivingYards }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Yards Per Reception:</span>
          {{ (player.projection.receptions ? divide(player.projection.receivingYards, player.projection.receptions) : 0.0) | number: '1.3-3' }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Yards Per Target:</span> 0.0
          <!-- {{ (player.projection.targets ? divide(player.projection.receivingyards, player.projection.targets) : 0.0) | number: '1.3-3' }} -->
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns:</span> {{ player.projection.receivingTd }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns Per Reception:</span>
          {{ (player.projection.receptions ? divide(player.projection.receivingTd, player.projection.receptions) : 0.0) | number: '1.3-3' }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns Per Target:</span> 0.0
          <!-- {{ (player.projection.targets ? divide(player.projection.receivingTd, player.projection.targets) : 0.0) | number: '1.3-3' }} -->
        </span>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="bold">
        Totals
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="center">
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item">
          <span class="bold">Touches:</span>
          {{ add([player.projection.attempts, player.projection.carries, player.projection.receptions]) }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Yards:</span>
          {{ add([player.projection.passYards, player.projection.rushYards, player.projection.receivingYards]) }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Yards Per Touch:</span>
          {{ divide(add([player.projection.passYards, player.projection.rushYards, player.projection.receivingYards]), add([player.projection.attempts, player.projection.carries, player.projection.receptions])) | number: '1.3-3' }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item"></span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdowns:</span>
          {{ add([player.projection.passTd, player.projection.rushTd, player.projection.receivingTd]) }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Touchdown Per Touch:</span>
          {{ divide(add([player.projection.passTd, player.projection.rushTd, player.projection.receivingTd]), add([player.projection.attempts, player.projection.carries, player.projection.receptions])) | number: '1.3-3' }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <span fxFlex="30%" class="item"></span>
        <span fxFlex="30%" class="item">
          <span class="bold">Turnovers:</span>
          {{ add([player.projection.interception, player.projection.fumbles]) }}
        </span>
        <span fxFlex="30%" class="item">
          <span class="bold">Turnovers Per Touch:</span>
          {{ divide(add([player.projection.interception, player.projection.fumbles]), add([player.projection.attempts, player.projection.carries, player.projection.receptions])) | number: '1.3-3' }}
        </span>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
