<div style="height: 100%;" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="0.5%">

  <div fxFlex="32.5%">
    <button mat-fab color="accent" matTooltip="Dashboard" (click)="_navigate.navigate('dashboard')">
      <mat-icon>dashboard</mat-icon>
    </button>
  </div>
  <div fxFlex="32.5%">
    <button mat-fab color="accent" matTooltip="Compare">
      <mat-icon>compare</mat-icon>
    </button>
  </div>
  <div fxFlex="32.5%">
    <button mat-fab color="accent" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

</div>
