<div style="height: 100%;" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="0.5%">


  <div fxFlex="25%">
    <button mat-fab color="accent" matTooltip="Dashboard" (click)="_navigate.navigate('dashboard')">
      <mat-icon>dashboard</mat-icon>
    </button>
  </div>

  <div fxFlex="25%">
    <button mat-fab color="accent" matTooltip="Draft Tools">
      <mat-icon>build</mat-icon>
    </button>
  </div>

  <div fxFlex="25%">
    <button mat-fab color="accent" matTooltip="Player List">
      <mat-icon>list</mat-icon>
    </button>
  </div>

  <div fxFlex="25%">
    <button mat-fab color="accent" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

</div>
