<mat-nav-list>

    <a class="nav-item" mat-list-item routerLink="/dashboard" (click)="closeSidenav()">
      <mat-icon>dashboard</mat-icon><span class="nav-caption">Dashboard</span>
    </a>

    <a class="nav-item" mat-list-item routerLink="/players/list" (click)="closeSidenav()">
      <mat-icon>supervisor_account</mat-icon><span class="nav-caption">Players</span>
    </a>

    <a class="nav-item" mat-list-item routerLink="/folder-list" (click)="closeSidenav()">
      <mat-icon>folder</mat-icon><span class="nav-caption">Notes</span>
    </a>

    <a class="nav-item" mat-list-item routerLink="/folder-list" (click)="closeSidenav()">
      <mat-icon>settings</mat-icon><span class="nav-caption">Settings</span>
    </a>

</mat-nav-list>
