<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.0%">
  <h1 matDialogTitle>{{ title | titlecase }}</h1>

  <div class="form-container" fxFlex="100%">

    <form [formGroup]="form" class="form">

      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <div class="invalid-label" *ngIf="!isEmailValid">Please enter a valid email</div>
      </div>

      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        <div class="invalid-label" *ngIf="!isPasswordValid">Password must be at least 8 characters</div>
      </div>

      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Please Confirm Password" type="password" formControlName="confirmPassword"
            class="form-control" secure="true" />
        </mat-form-field>
        <div class="invalid-label" *ngIf="!isPasswordEqualConfirmPasswordValid">Password and Confirm Password fields
          must match</div>
      </div>

      <div>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
        <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
      </div>
    </form>
  </div>
</div>
