<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.0%">
  <div fxFlex="10%">
    <h1 matDialogTitle>{{ title | titlecase }}</h1>
  </div>

  <div class="form-container" fxFlex="90%">

    <form [formGroup]="form" class="form">

      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Round</mat-label>
          <select matNativeControl required formControlName="round">
            <option *ngFor="let round of rounds | slice: 1:rounds.length">{{ round }}</option>
          </select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Player</mat-label>
          <input type="text" matInput required formControlName="player" [matAutocomplete]="auto">
          <button mat-button mat-icon-button matSuffix (click)="reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPlayer">
            <mat-option *ngFor="let player of players | slice: 0:5" [value]="player">
              {{player.name}} {{player.position}} - {{player.team.abbreviation}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.0%">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
        <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
      </div>
    </form>
  </div>
</div>
