@media only screen and (min-width: 375px) {
  .margin {
    margin: .25em .5em .5em .5em;
  }

  .bottom-container {
    height: 30em;
    margin-top: .25em;
  }
}

.bottom-container {
  height: 30em;
}

.title {
  font-size: large;
}

.margin {
  margin: .25em 1em .25em 1em;
}

.margin-top {
  margin-top: 1em;
}
