.note-btn {
    margin: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

.note-input {
  padding: 5px;
}

.note-header-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.add-note-card {
  width: 95%;
}
