<div class="btn-ctr">
  <span class="draft-btn">
    <button mat-raised-button color="accent" (click)="goToDraft()">Draft</button>
  </span>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
  <span>
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    </span>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
  <span>
    <mat-tab-group fxFlex>
      <mat-tab label="Public Notes">
        <div class="card-ctr">
          <app-public-notes></app-public-notes>
        </div>
      </mat-tab>
      <mat-tab label="My Notes">
        <div class="card-ctr">
          <app-user-notes></app-user-notes>
        </div>
      </mat-tab>
    </mat-tab-group>
  </span>
</div>
