<div class="draft-btn-ctr">
    <button mat-raised-button color="accent" (click)="goToDraft()">Draft</button>
</div>

<div class="tab-ctr">
    <mat-tab-group>
        <mat-tab label="Public Notes">
            <div class="card-ctr">
                <app-public-notes></app-public-notes>
            </div>
        </mat-tab>
        <mat-tab label="My Notes">
            <div class="card-ctr">
                <app-user-notes></app-user-notes>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>