.card-ctr {
  width: 97%;
}

.ctr {
  height: 100%;
  width: 100%;
}

.crd-ctr {
  height: 100%;
  width: 100%;
  overflow: auto;
}


.targetList {
  border-left-style: ridge;
  border-right-style: ridge;
  border-width: 1px;
  border-color: lightgray;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.padding {
  padding: 20px;
  text-align: center;
}
