<mat-card style="margin-top: .250em;">
  <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap=".5%">
    <div fxFlex="20%">
      <span style="font-weight: bold">Touches: </span> {{ player.projection?.touches }}
    </div>
    <div fxFlex="20%">
      <span style="font-weight: bold">TD: </span> {{ player.projection?.passTd + player.projection?.rushTd
      + player.projection?.receivingTd }}
    </div>
    <div fxFlex="20%">
      <span style="font-weight: bold">FP: </span> {{ player.projection?.totalPoints }}
    </div>

    <div fxFlex="20%">
      <span style="font-weight: bold">ADP: </span> {{ player.averageDraftPosition }}
    </div>
  </div>
</mat-card>

<mat-card style="margin-top: .250em;">
  <mat-card-header>
    <mat-card-title>
      Passing
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap=".5%">

      <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="0.5%">
        <div fxFlex="25%">
          <span style="font-weight: bold">CMP: </span> {{ player.projection?.completions }}
        </div>
        <div fxFlex="25%">
          <span style="font-weight: bold">ATT: </span> {{ player.projection?.attempts }}
        </div>
        <div fxFlex="25%">
          <span style="font-weight: bold">CMP %: </span> {{ player.projection?.completionPercentage | number:
          1.2:2
          }}
        </div>
        <div fxFlex="25%">
          <span style="font-weight: bold">YPA: </span> {{ player.projection?.yardsPerAttempt | number: 1.2:2 }}
        </div>
      </div>
      <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="0.5%">
        <div fxFlex="25%">
          <span style="font-weight: bold">TD: </span> {{ player.projection?.passTd }}
        </div>

        <div fxFlex="25%">
          <span style="font-weight: bold">YDS: </span> {{ player.projection?.passYards }}
        </div>

        <div fxFlex="25%">
          <span style="font-weight: bold">INT: </span> {{ player.projection?.interception }}
        </div>

        <div fxFlex="25%"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card style="margin-top: .250em;">
  <mat-card-header>
    <mat-card-title>Rushing</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap=".5%">
      <div fxFlex="15%">
        <span style="font-weight: bold">CAR: </span> {{ player.projection?.carries }}
      </div>
      <div fxFlex="15%">
        <span style="font-weight: bold">YDS: </span> {{ player.projection?.rushYards }}
      </div>
      <div fxFlex="15%">
        <span style="font-weight: bold">YPC: </span> {{ player.projection?.yardsPerCarry }}
      </div>
      <div fxFlex="15%">
        <span style="font-weight: bold">TD: </span> {{ player.projection?.rushTd }}
      </div>
      <div fxFlex="15%">
        <span style="font-weight: bold">FUM: </span> {{ player.projection?.fumbles }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card style="margin-top: .250em;">
  <mat-card-header>
    <mat-card-title>Receiving</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap=".5%">
      <div fxFlex="25%">
        <span style="font-weight: bold">REC: </span> {{ player.projection?.receptions }}
      </div>
      <div fxFlex="25%">
        <span style="font-weight: bold">YDS: </span> {{ player.projection?.receivingYards }}
      </div>
      <div fxFlex="25%">
        <span style="font-weight: bold">YPC: </span> {{ player.projection?.yardsPerReception }}
      </div>
      <div fxFlex="25%">
        <span style="font-weight: bold">TD: </span> {{ player.projection?.receivingTd }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
