.title {
  font-size: 1.850em;
  font-weight: bold;
}

.title2 {
  font-size: 1.175em;
}

.bold {
  font-weight: bold;
}

.item {
  padding: 1%;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}

.card-ctr {
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.inner {
  height: 90%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 25%;
  padding: 0.625em;
}
