<div fxLayout="row wrap" fxLayoutAlign="space-betweencenter" fxLayoutAlign="1.0%">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Update Player Data
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <button mat-fab (click)="updatePlayersData()" color="primary">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Update Team Data
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <button mat-fab (click)="updateTeamsData()" color="primary">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Update Stadium Data
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <button mat-fab (click)="updateStadiumsData()" color="primary">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Update Standings Data
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <button mat-fab (click)="updateStandingsData()" color="primary">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
