<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5%">
  <div style="width: 100%;">
    <app-player-filter></app-player-filter>
  </div>
  <div fxFlex="100%" fxLayoutGap=".5%" *ngIf="displayData$ | async as data" style="width: 100%;">
    <cdk-virtual-scroll-viewport itemSize="100">

      <div *cdkVirtualFor="let card of data;" [style.height.em]="(panelState$ | async) === true ? 40.5 : 22"class="card-div animate__animated animate__slideInRight">
        <app-player-card [dataInput]="card"></app-player-card>
      </div>

    </cdk-virtual-scroll-viewport>
  </div>
</div>
