<mat-card class="stat-card">
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">15.6</div>
      <div class="stat-subtitle">
        Avg Touches Per Game
      </div>
    </div>
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">4.4</div>
      <div class="stat-subtitle">
        Yards Per Carry
      </div>
    </div>
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">7.0</div>
      <div class="stat-subtitle">
        Yards Per Reception
      </div>
    </div>
    <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">250</div>
      <div class="stat-subtitle">
        Total Touches
      </div>
    </div>
  </mat-card-content>
</mat-card>
