<mat-card class="stat-card">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">7.1</div>
      <div class="stat-subtitle">Avg Targets Per Game</div>
    </div>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <div class="gauge">
      <div class="gauge__body">
        <div class="gauge__fill" [style.transform]="targetShareFillValue"></div>
        <div class="gauge__cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="title bold">{{ targetSharePercentage * 100 }}%</div>
          <div class="stat-subtitle">{{ player?.team.abbreviation }} Target Share</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
