<mat-card class="stat-card">
  <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">1000</div>
      <div class="stat-subtitle">
        Total Yards
      </div>
    </div>
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
      <div class="title bold">100.7</div>
      <div class="stat-subtitle">
        Avg Yards Per Game
      </div>
    </div>
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="openDetailDialog(player)">Yards Details</button>
    </div>
  </mat-card-content>
</mat-card>
