<div class='add-note-card'>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="loading-div" *ngIf="loading">
      <loading-spinner></loading-spinner>
    </div>
    <mat-card class="note-card" *ngIf="!loading">
      <mat-card-header>
        <div mat-card-avatar class="note-header-image" [style.backgroundImage]="'url(' + user.profileImage + ')'"></div>
        <mat-card-title *ngIf="isPlayerPreSet">{{ (currentPlayer !== null) ? currentPlayer.name : '' }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="isPlayerPreSet">{{ (currentPlayer !== null) ? currentPlayer.team.abbreviation : '' }}
          -
          {{ (currentPlayer !== null) ? currentPlayer.position : '' }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section class="checkbox-section">
          <mat-checkbox color="primary" formControlName="isPrivate">Private</mat-checkbox>
        </section>

        <mat-form-field class="note-input" *ngIf="!isPlayerPreSet">
          <input matInput placeholder="Player" formControlName="player" class="form-control" [matAutocomplete]="auto">
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let player of filteredOptions | async" [value]="player">
            {{ player.name }} {{ player.team.abbreviation }} - {{ player.position }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="note-input">
          <input matInput placeholder="Title" formControlName="title" class="form-control">
        </mat-form-field>

        <mat-form-field class="note-input">
          <textarea matInput placeholder="Note" formControlName="note" class="form-control"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Source</mat-label>
          <mat-select formControlName="source" class="form-control">
            <mat-option *ngFor="let source of sources" [value]="source">
              {{ source }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="form-group">
          <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary note-btn"
            (click)="onSubmit()">
            Save
          </button>
          <button mat-raised-button color="warn" [disabled]="loading" class="btn btn-primary note-btn"
            (click)="cancel()" *ngIf="isCancelBtnVisible">
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
