<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="element-description">
          <span class="team-info-col team-logo">
            <img [src]=element.imageUrl>
          </span>
          <span class="team-info-col">
            <div class="team-info"><span class="label">Total Points: </span>{{element.pointsFor}}</div>
            <div class="team-info"><span class="label">Total Yards: </span>{{element.yards}}</div>
            <div class="team-info"><span class="label">Total Plays: </span>{{element.plays}}</div>
          </span>
          <span class="team-info-col">
            <div class="team-info"><span class="label">Score Percentage: </span>{{element.scorePercentage}}</div>
            <div class="team-info"><span class="label">Turnover Percentage:
              </span>{{element.turnoverPercentage}}</div>
            <div class="team-info"><span class="label">Net Yards Per Pass: </span>{{element.netYardsPerPass}}</div>
            <div class="team-info"><span class="label">Total INT: </span>{{element.interceptionTeam}}</div>
          </span>
          <span class="team-info-col">
            <div class="team-info"><span class="label">Team Rush Attempts: </span>{{element.rushAttemptTeam}}</div>
            <div class="team-info"><span class="label">Team Rush Yards: </span>{{element.rushYardsTeam}}</div>
            <div class="team-info"><span class="label">Team Rush TD: </span>{{element.rushTdTeam}}</div>
            <div class="team-info"><span class="label">Yards Per Rush: </span>{{element.yardsPerRush}}</div>
          </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
