.container {
  height: 100%;
  width: 100%;
}

.width {
  width: 100%;
}

.sidenav {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 25%;
}

.title {
  font-size: 1.850em;
  font-weight: bold;
}

.profileImage {
  height: 9.375em;
  width: 9.375em;
  border-radius: 50%;
  background-size: cover;
  border-width: thin;
  border-style: solid;
  border-color: #3949ab;
}

.center {
  text-align: center;
}
