<mat-card>
  <mat-card-content>
    <mat-table [dataSource]="data">
      <ng-container matColumnDef="completions">
        <mat-header-cell *matHeaderCellDef> CMP </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.completions}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="attempts">
        <mat-header-cell *matHeaderCellDef> ATT </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.attempts}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completionPercentage">
        <mat-header-cell *matHeaderCellDef> CMP % </mat-header-cell>
        <mat-cell *matCellDef="let data">
          {{data?.completionPercentage ? (data?.completionPercentage | number : '1.2-2') : 0}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passYards">
        <mat-header-cell *matHeaderCellDef> PASS YDS </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.passYards}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="yardsPerAttempt">
        <mat-header-cell *matHeaderCellDef> YDS/ATT </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data?.yardsPerAttempt ? (data?.yardsPerAttempt | number : '1.2-2') : 0 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passTd">
        <mat-header-cell *matHeaderCellDef> PASS TD </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.passTd}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="interception">
        <mat-header-cell *matHeaderCellDef> INT </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.interception}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="carries">
        <mat-header-cell *matHeaderCellDef> CAR </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.carries}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rushYards">
        <mat-header-cell *matHeaderCellDef> RSH YDS </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.rushYards}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="yardsPerCarry">
        <mat-header-cell *matHeaderCellDef> YDS/CAR </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.yardsPerCarry ? (data?.yardsPerCarry | number : '1.2-2') : 0}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rushTd">
        <mat-header-cell *matHeaderCellDef> RSH TD </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.rushTd}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fumbles">
        <mat-header-cell *matHeaderCellDef> FMB </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.fumbles}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receptions">
        <mat-header-cell *matHeaderCellDef> REC </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.receptions}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receivingYards">
        <mat-header-cell *matHeaderCellDef> REC YDS </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.receivingYards}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="yardsPerReception">
        <mat-header-cell *matHeaderCellDef> YDS/REC </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.yardsPerReception ? (data?.yardsPerReception | number : '1.2-2') : 0}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receivingTd">
        <mat-header-cell *matHeaderCellDef> REC TD </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.receivingTd}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card-content>
</mat-card>
