<div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.0%">
    <div class="form-container" fxFlex="100%">
        <div class="main-loading" *ngIf="loading">
            <loading-spinner></loading-spinner>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" *ngIf="!loading">
            <mat-card class="form-card">
                <mat-card-header>
                    <div mat-card-avatar class="auth-header-image"></div>
                    <mat-card-title>Change Password</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="form-group">
                        <mat-form-field appearance="standard">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="Enter New Password" type="password" formControlName="password"
                                class="form-control" secure="true">
                        </mat-form-field>
                        <div class="invalid-label" *ngIf="!passwordIsValid">Password must be at least 8 characters</div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="form-group">
                        <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary auth-btn" (click)="onSubmit()">
                            Submit
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>