<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.backgroundImage]="'url(' + data.user.profileImage + ')'">
    </div>
    <mat-card-title>
      {{ data.title | titlecase}}
    </mat-card-title>
    <mat-card-subtitle>
      {{ data.player.name | titlecase}} {{data.player.position }} - {{data.player.team.abbreviation}}
    </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    {{ data.body }}
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxAlign="center center" fxLayoutGap="5.0%">
    <div class="action-btn" [fxFlex]="size">
      <button mat-icon-button color="accent">
        <mat-icon>add_comment</mat-icon>
      </button>
    </div>
    <div class="action-btn" [fxFlex]="size">
      <button mat-icon-button color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div class="action-btn" [fxFlex]="size">
      <button mat-icon-button color="accent">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div class="action-btn" [fxFlex]="size" *ngIf="isAuthor">
      <button mat-icon-button color="accent" (click)="deleteNote(data.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>

  <mat-card-footer>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5%">
      <div fxFlex="50%">
        <mat-icon>account_circle</mat-icon> {{ data.user.username | titlecase }}
      </div>
      <div fxFlex="50%">
        Creation Time: {{data.creationTime | date: "MMM dd, yyyy hh:mm "}}
      </div>
    </div>
  </mat-card-footer>
</mat-card>
