<mat-toolbar color="primary">
  <span>
    <span>
      <button mat-button class="title" (click)="goToDashboard()">
        <span class="title-content"><img class="title-logo" src='../../assets/images/logo-full.svg'></span>
      </button>
    </span>
  </span>

  <span class="fill-space" *ngIf="isAuth"></span>

  <span *ngIf="isAuth">
    <mat-list-item>
      <mat-menu #draftMenu="matMenu">
        <button mat-menu-item (click)="navigateToDraft(1)">Draft Prep</button>
        <button mat-menu-item (click)="navigateToDraft(2)">Mock Draft Lobby</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="draftMenu">
        <mat-icon>view_list</mat-icon> Draft
      </button>
    </mat-list-item>
  </span>

  <span class="fill-space" *ngIf="isSearchActive"></span>

  <span *ngIf="isSearchActive">
    <app-searchbar [resultsInput]="users" [searchTypeInput]="searchType" *ngIf="searchType"></app-searchbar>
    <app-searchbar [resultsInput]="players" [searchTypeInput]="searchType" *ngIf="!searchType"></app-searchbar>
  </span>

  <span class="fill-space"></span>

  <span>
    <span>
      <button class="nav-button" mat-button (click)="navigateToRegisterPage()" *ngIf="!isAuth">Sign Up</button>
    </span>
    <span>
      <button class="nav-button" mat-button (click)="navigateToLoginPage()" *ngIf="!isAuth">Login</button>
    </span>

    <span *ngIf="isAuth">
      <mat-menu #searchMenu="matMenu">
        <button mat-menu-item (click)="search(false)">
          Player
        </button>
        <button mat-menu-item (click)="search(true)">
          User
        </button>
      </mat-menu>

      <button mat-icon-button class="menu-option" [matMenuTriggerFor]="searchMenu" *ngIf="!isSearchActive">
        <mat-icon>search</mat-icon>
      </button>
    </span>

    <span *ngIf="isAuth">
      <mat-menu #notifMenu="matMenu">
        <button mat-menu-item (click)="navigateToUserProfile()">
          <mat-icon>account_circle</mat-icon>{{ username | lowercase}}
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>Settings
        </button>
        <button mat-menu-item>
          <mat-icon>help</mat-icon>Help
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>vpn_key</mat-icon> Sign Out
        </button>
      </mat-menu>

      <button mat-icon-button class="menu-option" [matMenuTriggerFor]="notifMenu">
        <mat-icon>notifications</mat-icon>
      </button>
    </span>

    <span *ngIf="isAuth">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="navigateToUserProfile()">
          <mat-icon>account_circle</mat-icon>{{ username | lowercase}}
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>Settings
        </button>
        <button mat-menu-item>
          <mat-icon>help</mat-icon>Help
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>vpn_key</mat-icon> Sign Out
        </button>
      </mat-menu>

      <button mat-icon-button class="menu-option" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </span>
</mat-toolbar>
