<mat-card>
  <mat-card-content>
    <mat-table [dataSource]="data">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> USERNAME </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="forgotPasswordLock">
        <mat-header-cell *matHeaderCellDef> LOCK </mat-header-cell>
        <mat-cell *matCellDef="let data">
          {{data?.forgotPasswordLock}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isLoggedIn">
        <mat-header-cell *matHeaderCellDef> LOGGED IN </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.isLoggedIn}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastLoggedIn">
        <mat-header-cell *matHeaderCellDef> LAST LOGIN</mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data?.lastLoggedIn | date: "MMM dd, yyyy hh:mm "}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isAdmin">
        <mat-header-cell *matHeaderCellDef> ADMIN </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.isAdmin}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationTime">
        <mat-header-cell *matHeaderCellDef> CREATED </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.creationTime | date: "MMM dd, yyyy hh:mm "}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card-content>
</mat-card>
