<mat-card>
  <mat-card-title>Search Filters</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" class="form">
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5%">
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="70%" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="25%">
              <mat-form-field appearance="standard">
                <mat-label>Filter Mode</mat-label>
                <mat-select formControlName="filterMode">
                  <mat-option *ngFor="let option of filterMode" [value]="option">
                    {{option | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="25%">
              <mat-form-field appearance="standard">
                <mat-label>Filter On</mat-label>
                <mat-select formControlName="filterType">
                  <mat-option *ngFor="let option of filterTypeList" [value]="option">
                    {{option.displayName | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="35%">
              <mat-form-field appearance="standard">
                <input matInput placeholder="Type to filter all results" formControlName="searchBar">
              </mat-form-field>
            </div>
            <div fxFlex="15%">
              <button mat-raised-button color="accent" [disabled]="isFilterInvalid()"
                (click)="applyFilter()">
                Apply Filter
              </button>
            </div>
          </div>
          <div fxFlex="5%"></div>
          <div fxFlex="25%" fxLayout="row" fxLayoutAlign="end center">
            <div fxFlex="100%">
              <mat-radio-group aria-label="Scoring System" fxLayout="row" fxLayoutAlign="start center"
                formControlName="scoringType">
                <mat-radio-button *ngFor="let type of scoringTypes;" [value]="type" [checked]="type === 'Standard'" style="padding: .250em;">
                  {{ type }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-evenly center">
          <div>
            <mat-chip [color]="item.mode === 'Except' ? 'red' : 'accent'" [selectable]="true" [removable]="true"
              *ngFor="let item of filters" (removed)="removeFilter(item)">
              {{ item.mode }}
              {{ item.type.displayName + 's'}}
              with
              '{{ item.value }}'
              <mat-icon matChipRemove class="showPointer">cancel
              </mat-icon>
            </mat-chip>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
