<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="form">
      <div *ngIf="searchVisible.isSearchVisible | async" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5%">

        <div fxFlex="80%" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="0.5%">

          <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
            <mat-label class="bold">{{ scoringTypeLabel }}</mat-label>
            <mat-slider max=2 min=0 step=1 formControlName="scoringType"></mat-slider>
          </div>

          <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="standard">
              <input matInput placeholder="Search" formControlName="searchBar">
            </mat-form-field>
          </div>

          <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.0%">
            <mat-form-field appearance="standard">
              <select matNativeControl required formControlName="displayData">
                <option *ngFor="let option of dataOptions">{{ option }}</option>
              </select>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="20%" fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-icon-button (click)="toggleSearchBar()" matTooltip="Hide Search Section">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="!(searchVisible.isSearchVisible | async)">
        <button mat-icon-button (click)="toggleSearchBar()" matTooltip="Show Search Section">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
