table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.player-row:not(.expanded-row):hover {
  background: #777;
}

tr.player-row:not(.expanded-row):active {
  background: #efefef;
}

.player-row td {
  border-bottom-width: 0;
}

.player-detail {
  overflow: hidden;
  display: flex;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.label {
  font-weight: bold;
  padding: 2px;
}

.player-description {
  width: 100%;
}

.bold-font {
  font-weight: bold;
}

.team-info {
  padding: 10px;
}

.team-info-offense-rank {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}


.team-info-col {
  padding: 10px;
  float: left;
  width: 25%;
}

.team-logo {
  padding: 5px;
  margin-right: 100px;
  height: 100px;
  width: 150px;
}

.team-logo-small {
  height: 24px;
  width: 48px;
}

tr.isQb {
  background-color: lightskyblue;
}

tr.isRb {
  background-color: lightgreen
}

tr.isWr {
  background-color: lightpink;
}

tr.isTe {
  background-color: lightyellow;
}

tr.isSelected {
  background-color: gray;
  text-decoration: line-through red;
}

div.resetButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resetButton {
  margin: 10px;
  align-self: center;
}

.green-text {
  font-weight: bold;
  color: green;
}

.red-text {
  font-weight: bold;
  color: red;
}

.orange-text {
  font-weight: bold;
  color: orange;
}

.icon {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}
