<mat-card class="stat-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
      <div class="stat-title bold">1.2</div>
      <div class="stat-subtitle">
        Avg TD Per Game
      </div>
    </div>
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
      <div class="stat-title bold">10</div>
      <div class="stat-subtitle">
        Total TD
      </div>
    </div>
  </mat-card-header>
  <mat-card-content >
    <app-chart [chartInput]="tdChart"></app-chart>
  </mat-card-content>
</mat-card>
