<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ currentYear }} Projections
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-projection-data [player]="player"></app-projection-data>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ currentYear - 1 }} Stats
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-projection-data [player]="player"></app-projection-data>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Team Info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-team-info [team]="player.team"></app-team-info>
  </mat-expansion-panel>
</mat-accordion>
