.note-header-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

mat-grid-list {
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 10px;
}

.note-card {
  width: 90%;
}
