<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <div><span style="font-weight: bold;">Stadium: </span>{{dataInput.stadium.name}}</div>
  <div><span style="font-weight: bold;">Location: </span>{{dataInput.stadium.city}}, {{dataInput.stadium.state}}</div>
  <div><span style="font-weight: bold;">Type: </span>{{dataInput.stadium.type}}</div>
  <div><span style="font-weight: bold;">Playing Surface: </span>{{dataInput.stadium.playingSurface}}</div>
</div>

<mat-card>
  <mat-card-title>
    {{ year }} Statistics
  </mat-card-title>
  <mat-card-subtitle>
    <div div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div><span style="font-weight: bold;">Overall:
        </span>{{dataInput.standings.wins}}-{{dataInput.standings.losses}}-{{dataInput.standings.ties}}</div>
      <div><span style="font-weight: bold;">Conference:
        </span>{{dataInput.standings.conferenceWins}}-{{dataInput.standings.conferenceLosses}}-{{dataInput.standings.conferenceTies}}
      </div>
      <div><span style="font-weight: bold;">Division:
        </span>{{dataInput.standings.divisionWins}}-{{dataInput.standings.divisionLosses}}-{{dataInput.standings.divisionTies}}
      </div>
    </div>
  </mat-card-subtitle>
  <mat-card-content>

    <mat-table [dataSource]="data">
      <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef> RNK </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.rank}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passRank">
        <mat-header-cell *matHeaderCellDef> PASS RNK </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.passRank}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passAttempts">
        <mat-header-cell *matHeaderCellDef> PASS ATT </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.passAttempts}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rushRank">
        <mat-header-cell *matHeaderCellDef> RUSH RNK </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.rushRank}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rushAttempt">
        <mat-header-cell *matHeaderCellDef> RUSH ATT </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data?.rushAttempt }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="plays">
        <mat-header-cell *matHeaderCellDef> Plays </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.plays}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="yardsPerPlay">
        <mat-header-cell *matHeaderCellDef> YDS/PLAY </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.yardsPerPlay | number : '1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="turnovers">
        <mat-header-cell *matHeaderCellDef> TO </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.turnovers}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="turnoverPercentage">
        <mat-header-cell *matHeaderCellDef> TO % </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.turnoverPercentage}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="scorePercentage">
        <mat-header-cell *matHeaderCellDef> YDS/CAR </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.scorePercentage ? (data?.scorePercentage | number : '1.2-2') : 0}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="offensiveLineRank">
        <mat-header-cell *matHeaderCellDef> OLINE RNK </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.offensiveLineRank}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="runningBackSoS">
        <mat-header-cell *matHeaderCellDef> RB SOS </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data?.runningBackSoS}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card-content>
</mat-card>
